* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: #555;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.container h1 {
    margin-bottom: 20px;
}

.container form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}


.container button {
    margin-bottom: 10px;
    padding: 10px;
}

.container button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.container button:hover {
    background-color: #555;
}
