* {
  margin: 0;
  padding: 0;
  scroll behaviour: smooth;
}

header {
  width: 100%;
  height: 140px;
  background-color: grey;
  display: inline-flex;

}

.logo img {
  height: 100px;

}


.header-middle {
  width: 30%;
  height: 200px;
  justify-content: center;
  margin-top: 50px;
  padding-left: 180px;

}

.userlogo {
  margin-left: 5px;
  width: 35px;
  height: 35px;
}

.text2 {
  text-decoration: none;
  font-size: 30px;
  gap: 20px;
  color: blue;
  margin-right: 40px;
}

.text {
  text-decoration: none;
  font-size: 30px;
  gap: 20px;
  color: white;
  margin-right: 40px;
}

#search {
  margin-left: 300px;
  display: flex;
  margin-top: 45px;
  width: 200px;
  height: 30px;
  -webkit-transition: width ease 0.2s, opacity ease 0.4s;
  -moz-transition: width ease 0.2s, opacity ease 0.4s;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -webkit-box-shadow: inset 0px 0px 3px red, inset 0px 1px 3px red, 0px 1px 0px red;
  -moz-box-shadow: inset 0px 0px 3px red, inset 0px 1px 3px red, 0px 1px 0px red;
  -webkit-font-smoothing: antialiased;
  text-align: left;
  font-size: 30px;
  padding: 4px 10px;
  border: none;
  background: transparent;
  margin-bottom: 0;
  outline: none;
  opacity: 0.7;
  color: black;
}

#search:focus {
  width: 300px;
  opacity: 1.0;
}

/* ....................................................................................... */

main {
  width: 100%;
  height: 100vh;
}

.boxdiv {
  padding-top: 60px;
  display: flex;
  justify-content: center;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
  width: 35%;
  height: 500px;
  border-radius: 25px;
  border: 1px solid rgb(42, 40, 40);
}

.title {
  color: rgb(22, 21, 21);
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -0.5px;
  position: relative;
  display: flex;
  padding-left: 25px;
}

input {
  margin-left: 15px;
  color: #131313;
  width: 90%;
  margin-top: 20px;
  padding: 10px;
  outline: 0;
  border: 3px solid black(105, 105, 105, 0.397);
  border-radius: 10px;
}

.button button {
  width: 80%;
  border: none;
  margin-left: 60px;
  outline: none;
  padding: 15px;
  margin-top: 30px;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  transform: .3s ease;
  background-color: rgb(25, 21, 21);

}

.button button:hover {
  background-color: grey;
}

.qqqqqq {

  font-size: 35px;
  text-align: center;
}

.qqqqqq a {
  color: red;
}

footer {
  display: inline-flex;
  margin-top: 170px;
  background-color: white;
  width: 100%;
  height: 300px;
  color: black;

}


.footerLeft {
  background-color: black;
  width: 40%;
  height: 300px;
  border-right: 5px solid white;
}

footer h2 {
  text-align: center;
  margin-left: 30px;
  font-size: 60px;
  color: wheat;
}

footer p {
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
}

.Click {
  margin-left: 100px;
  width: 700px;
}


footer a {
  font-size: 50px;
  text-decoration: none;
  color: white;
  background-color: black;
}

.footerRight {
  width: 60%;
  height: 300px;
  background-color: black;
  display: inline-flex;
}

.first {
  width: 300px;
  height: 300px;
  border-right: 5px solid white
}

.second {
  width: 300px;
  height: 300px;
}

.second h3 {
  font-size: 40px;
  color: white;
  padding-left: 45px;
  margin-top: 5px;
}

.second a {
  background-color: black;
  font-size: 27px;
}

.first h3 {
  font-size: 40px;
  color: white;
  padding-left: 45px;
  margin-top: 5px;
}

.aaaa {
  margin-left: 30px;
  margin-top: 30px;
}

.first a {
  background-color: black;
  font-size: 27px;
}

.wqwqw {
  margin-left: -60px;
}

.wqwqw1 {
  margin-left: -160px;
}