body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: greenyellow;
}

img{
    width: 500px ;
    height: 300px;
    transition: transform 0.5s ease;
}

img:hover{
    transform: scale(1.5);
}
